<div class="text-center my-4">
	<h1>Profil de <%= @user.email %></h1>
</div>

<%if @user.avatar.attached?%>
	<%= image_tag @user.avatar, alt: 'avatar' %>
<%else%>
	<p>=== Il n'y a pas encore d'avatar lié à cet utilisateur ===</p>
<%end%>	

<div>
	<div class="form-group">
		<label>Nom: </label>
	</div>
	<div class="form-group">
		<label>Prénom: </label>
	</div>
	<div class="form-group">
		<label>Email: </label>
	</div>
	<div class="form-group">
		<label>Description: </label>
	</div>

	<%= form_tag user_avatars_path(@user), multipart: true do %>
  		<%= file_field_tag :avatar %>
  		<%= submit_tag "mettre à jour" %>
	<% end %>
</div>