  <% if @event.admin == current_user %>
  <div class="text-center my-4">
    <%= link_to "Mon espace évenement", event_participations_path(@event), class: 'btn btn-primary'%>
  </div>
  <% end %>
<div class="card my-3">


  <div class="card-header text-center">
    <%= @event.title %>
  </div>
  <div class="card-body">
    <table>
      <tr>
        <td>Créateur de l'évenement:</td>
        <td class="pl-2"><%= @event.admin.email %></td>
      </tr>
      <tr>
        <td>Date de début:</td>
        <td class="pl-2"><%= @event.start_date %></td>
      </tr>
      <tr>
        <td>Duré:</td>
        <td class="pl-2"><%= @event.duration %></td>
      </tr>
      <tr>
        <td>Description:</td>
        <td class="pl-2"><%= @event.description %></td>
      </tr>
      <tr>
        <td>Prix:</td>
        <td class="pl-2"><%= @event.price %></td>
      </tr>
      <tr>
        <td>Location:</td>
        <td class="pl-2"><%= @event.location %></td>
      </tr>
    </table>
  </div>


    <!-- <label>
      Créateur de l'évenement: <%= @event.admin.email %> 
    </label> <br>

    <label>
      Date de début: <%= @event.start_date %> 
    </label> <br> -->
    <!-- <label>
      Duré: <%= @event.duration %> 
    </label> <br> -->
    <!-- <label>
      Description: <%= @event.description %> 
    </label> <br> -->
    <!-- <label>
      Prix: <%= @event.price %> 
    </label> <br> -->
    <!-- <label>
      Location: <%= @event.location %> 
    </label>
    <br> -->
    <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->

  <% if user_signed_in? %>
    <% if @event.admin != current_user && @event.attendees.include?(current_user) == false %>
      <div class="card-footer text-muted">
        <%= link_to "Rejoindre l'événement", new_event_participation_path(@event.id), class: 'btn btn-success' %>
      </div>
    <% end %>

    <% if @event.attendees && @event.attendees.include?(current_user) == true %>
      <div class="card-footer">
        <% if flash[:success] %>
          <span class="text-info">
            <%= flash[:success] %>
          </span>
        <% else %>
          <span class="text-info">Vous participez déjà à cet évenement</span>
        <% end %>
      </div>
    <% end %>

  <% else %>
     <div class="card-footer text-muted">
        <%= link_to "Rejoindre l'événement", new_event_participation_path(@event.id), class: 'btn btn-success' %>
      </div>
  <% end %>
</div>